<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-8" action="" [formGroup]="contactForm">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname" >
            </div>
            <div *ngIf="submitted && contactForm.controls.firstname.errors?.required"
                [ngStyle]="{'color': submitted && contactForm.controls.firstname.errors ? 'red': ''}">
                Please fill the details
            </div>
            <div *ngIf="submitted && contactForm.controls.firstname.errors?.minlength"
                [ngStyle]="{'color': submitted && contactForm.controls.firstname.errors?.minlength ? 'red': ''}">
                First Name should be more than 4 characters
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile" >
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark" (click)="formData()">Submit</button>
            </div>



        </div>
    </form>
</div>
